/* @import url('https://matiaslescano.com.ar/static/fonts/pixelicious.css'); */
/* @import url(https://fonts.googleapis.com/css?family=VT323); */
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", monospace;
}