body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  border-radius: 5px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.green-phospor{
  background-color: black;
  font-size: 0.8rem;
  color: green;
  font-family: monospace;
  max-height: 80px;
  overflow-y: auto;
}
